.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/tribunal-australia.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin-top: 7%;
    gap: 200px;
}

.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    border-radius: 51px;

    gap: 84px;
    width: 65vw;
    max-width: 65vw;

    margin-top: 200px;
}

.myWork h3 {
    font-family: var(--font-exo);
    font-size: var(--font-30px);
    font-weight: 700;
    letter-spacing: 3px;

    margin-top: 55px
}

.myWork p {
    font-family: var(--font-exo);
    font-size: var(--font-20px);
    font-weight: 400;
    line-height: 200%;

    text-align: center;

    margin-bottom: 64px;
    width: 75%;
    max-width: 75%;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    border-radius: 51px;

    width: 45vw;
    max-width: 45vw;

    padding: 64px 140px;
    margin-bottom: 200px;
}

.contactContainer span {
    font-family: var(--font-exo);
    font-size: var(--font-30px);
    font-weight: 700;
    line-height: 133%;
    text-align: center;
}

.contactContainer p {
    font-family: var(--font-exo);
    font-size: var(--font-20px);
    font-weight: 700;
    line-height: 133%;

    text-align: center;
}

.contactContainer span p {
    font-size: var(--font-30px);
}

.contactContainer span p:nth-child(1) {
    margin-bottom: 24px;
}

.contactContainer>p {
    font-weight: 400;

    margin-top: 40px;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 25px;
    margin-top: 36px;
}

.contactInformation button {
    color: var(--black);
    border: 0px;
    border-radius: 45px;

    width: 380px;
    max-width: 380px;
    padding: 20px 28px;
}

.contactInformation button img {
    width: 40px;
    height: 40px;
}

.contactInformation button p {
    font-weight: 400;
}

.whatsappButton {
    display: flex;
    align-items: center;

    font-size: var(--font-30px);

    gap: 30px;
    background: var(--green);

    transition: background-color 0.15s ease-in;
}

.whatsappButton:hover {
    background: var(--green-hover);
}

.emailButton {
    display: flex;
    align-items: center;

    font-size: var(--font-23px);
    font-weight: 400;

    gap: 11px;
    background: var(--gray);

    transition: background-color 0.15s ease-in;
}

.emailButton:hover {
    background: var(--gray-hover);
}

@media (max-width: 1440px) {
    .contentContainer {
        gap: 164px;
    }

    .myWork {
        gap: 64px;

        margin-top: 164px;
    }

    .myWork p {
        width: 67%;
        max-width: 67%;
    }

    .contactInformation button {
        width: 330px;

        padding: 14px 24px;
    }

    .contactInformation button img {
        width: 34px;
        height: 34px;
    }

    .whatsappButton {
        gap: 22px;
    }
}

@media (max-width: 1366px) {
    .contentContainer {
        gap: 164px;
    }

    .myWork {
        gap: 64px;

        margin-top: 164px;
    }

    .myWork p {
        width: 67%;
        max-width: 67%;
    }

    .contactContainer {
        padding: 56px 98px;
        margin-bottom: 164px;
    }

    .contactInformation button {
        width: 330px;

        padding: 14px 24px;
    }

    .contactInformation button img {
        width: 34px;
        height: 34px;
    }

    .whatsappButton {
        gap: 22px;
    }
}

@media (max-width: 1024px) {
    .contentContainer {
        gap: 128px;
    }

    .myWork {
        gap: 64px;

        margin-top: 128px;
    }

    .myWork p {
        width: 67%;
        max-width: 67%;
    }

    .contactContainer {
        padding: 48px 64px;

        margin-bottom: 128px;
    }

    .contactInformation button {
        width: 280px;

        padding: 14px 24px;
    }

    .contactInformation button img {
        width: 30px;
        height: 30px;
    }

    .whatsappButton {
        gap: 22px;
    }
}

@media (max-width: 810px) {
    .contentContainer {
        gap: 64px;
    }

    .myWork {
        gap: 36px;

        margin-top: 64px;
    }

    .myWork p {
        width: 85%;
        max-width: 85%;
    }

    .contactContainer {
        width: 48vw;
        max-width: 48vw;

        padding: 36px 42px;

        margin-bottom: 64px;
    }

    .contactContainer span p:nth-child(1) {
        margin-bottom: 8px;
    }

    .contactInformation {
        margin-top: 16px;
        gap: 16px;
    }

    .contactContainer>p {
        margin-top: 24px;
    }

    .contactInformation button {
        width: 250px;

        padding: 12px 16px;
    }

    .contactInformation button img {
        width: 20px;
        height: 20px;
    }

    .whatsappButton {
        gap: 16px;
    }

    .emailButton {
        gap: 6px;
    }
}

@media (max-width: 768px) {
    .contentContainer {
        gap: 64px;
    }

    .myWork {
        gap: 36px;

        margin-top: 64px;
    }

    .myWork p {
        width: 85%;
        max-width: 85%;
    }

    .contactContainer {
        padding: 24px 36px;

        margin-bottom: 64px;
    }

    .contactContainer span p:nth-child(1) {
        margin-bottom: 8px;
    }

    .contactInformation {
        margin-top: 16px;
        gap: 16px;
    }

    .contactContainer>p {
        margin-top: 24px;
    }

    .contactInformation button {
        width: 220px;

        padding: 12px 16px;
    }

    .contactInformation button img {
        width: 20px;
        height: 20px;
    }

    .whatsappButton {
        gap: 16px;
    }

    .emailButton {
        gap: 6px;
    }
}

@media (max-width: 414px) {
    .contentContainer {
        gap: 56px;
    }

    .myWork {
        width: 85vw;
        max-width: 85vw;
        height: auto;

        gap: 36px;

        margin-top: 56px;
    }

    .myWork p {
        width: 80%;
        max-width: 80%;
        height: 100%;

        margin-bottom: 36px;
    }

    .contactContainer {
        width: 70vw;
        max-width: 70vw;
        height: auto;

        padding: 24px 20px;

        margin-bottom: 56px;
    }

    .contactContainer span p:nth-child(1) {
        margin-bottom: 8px;
    }

    .contactInformation {
        margin-top: 16px;
        gap: 16px;
    }

    .contactContainer>p {
        margin-top: 16px;
    }

    .contactInformation button {
        width: 220px;

        padding: 12px 16px;
    }

    .contactInformation button img {
        width: 22px;
        height: 22px;
    }

    .whatsappButton {
        font-size: 16px;
        gap: 18px;
    }

    .emailButton {
        font-size: 13px;
        gap: 6px;
    }
}

@media (max-width: 390px) {
    .contentContainer {
        gap: 56px;
    }

    .myWork {
        width: 85vw;
        max-width: 85vw;
        height: auto;

        gap: 36px;

        margin-top: 56px;
    }

    .myWork p {
        width: 80%;
        max-width: 80%;
        height: 100%;

        margin-bottom: 36px;
    }

    .contactContainer {
        width: 70vw;
        max-width: 70vw;
        height: auto;

        padding: 24px 20px;

        margin-bottom: 56px;
    }

    .contactContainer span p:nth-child(1) {
        margin-bottom: 8px;
    }

    .contactInformation {
        margin-top: 16px;
        gap: 16px;
    }

    .contactContainer>p {
        margin-top: 16px;
    }

    .contactInformation button {
        width: 220px;

        padding: 12px 16px;
    }

    .contactInformation button img {
        width: 22px;
        height: 22px;
    }

    .whatsappButton {
        font-size: 16px;
        gap: 18px;
    }

    .emailButton {
        font-size: 13px;
        gap: 6px;
    }
}

@media (max-width: 360px) {
    .contentContainer {
        gap: 56px;
    }

    .myWork {
        width: 85vw;
        max-width: 85vw;
        height: auto;

        gap: 36px;

        margin-top: 56px;
    }

    .myWork p {
        width: 80%;
        max-width: 80%;
        height: 100%;

        margin-bottom: 36px;
    }

    .contactContainer {
        width: 70vw;
        max-width: 70vw;
        height: auto;

        padding: 24px 20px;

        margin-bottom: 56px;
    }

    .contactContainer span p:nth-child(1) {
        margin-bottom: 8px;
    }

    .contactInformation {
        margin-top: 16px;
        gap: 16px;
    }

    .contactContainer>p {
        margin-top: 16px;
    }

    .contactInformation button {
        width: 220px;

        padding: 12px 16px;
    }

    .contactInformation button img {
        width: 22px;
        height: 22px;
    }

    .whatsappButton {
        font-size: 16px;
        gap: 18px;
    }

    .emailButton {
        font-size: 13px;
        gap: 6px;
    }
}